@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
@import 'https://fonts.googleapis.com/css?family=Changa+One';
@import 'https://fonts.googleapis.com/css?family=Metal+Mania';
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Lateef';
@import 'https://fonts.googleapis.com/css?family=Oswald';

 :root {
  --deep-blue-highlight: #00BBFF;
  --deep-blue-light: #113dBB;
  --deep-blue-medium: #002266;
  --deep-blue-dark: #001144;
 /* --primary: #777777;*/
} 
.btn-warning:focus {
  filter:brightness(70%);
  background: #999933;
  border:3px solid rgb(30, 30, 32);
}

.bodyparts .menu-button .btn-warning:active {
  filter:brightness(75%);
  background: #55FF33;
  border:2px solid #88FF88;
}

.button:focus
{
     color:var(--primary);
}

.App {
  /*font-family: "Verdana";*/
  font-family: 'Oswald', cursive;
  text-align: center;
  letter-spacing: normal!;
}

/*
Logo gradient modified from:
https://codepen.io/M4TERIAL/pen/gavvQL
*/
h1 {
  display: block;
  width: 100%;
  /* color: #C6CBF5; */

  /* font-family: 'Lateef', sans-serif;'Press start 2p', sans-serif; */
  font-size:calc(3vw + 2vh + 2.0vmin);
  font-weight: 1000;
  line-height: 1.2;
  left: 50vw;
  margin-bottom:calc(1.05vw + 1.05vh + 0.55vmin);
  text-align: center;
  text-transform: uppercase;
  top: calc(2vw + 2vh + 1vmin);
  z-index: 11;

}

h2 {
  color: #C6CBF5;
  font-size:calc(2vw + 1.2vh + 0.7vmin);
  font-weight: 700;
  line-height: 1.2;
  left: 50vw;
  margin: 0;
  margin-bottom:calc(1.0vw + 1.0vh + 0.5vmin);
  text-align: center;
  text-transform: uppercase;
  top: calc(2vw + 2vh + 1vmin);
  z-index: 11;
}

.page-title {
  display: block;
  width: 100%;
  text-align: center;
}

.gamelink{
  color:#fff!important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}
.username{
  color:orange!important;
  letter-spacing: 1.1;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: red;
}

.fallout .username{
  color:white!important;
  letter-spacing: 1.1;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: greenyellow;
}




.menu-button {
  display: block;
  width: 100%;
  border:4px solid var(--primary);
  text-align: center;
  -webkit-box-shadow: #B4B5B5 2px 2px 2px  ;
  -moz-box-shadow: #B4B5B5 2px 2px 2px ;
    box-shadow: #B4B5B5 2px 2px 2px  ;
     -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
   margin-bottom: 10px;
   border-radius: 15px;
   font-size:calc(0.9vw + 0.5vh + .5vmin);/*10vh;/*24px;*/
   cursor: pointer;
   width: 100%;
   /*padding: 0.7vh 1.05vw;/*20px 24px;*/
   padding: 2px 3px;/*0.7vh 1.05vw;/*20px 24px;*/
   text-decoration:none;
   text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
 /*  color: rgb(236, 209, 228);*/
opacity: 0.68;
background-size: 200% 200%;
border:3px solid var(--primary);
  background-color: var(--tertiary); 
 background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--tertiary)));
 background-image: -webkit-linear-gradient(top, var(--primary),var(--tertiary));
 background-image: -moz-linear-gradient(top, var(--primary),var(--tertiary));
 background-image: -ms-linear-gradient(top,  var(--primary),var(--tertiary));
 background-image: -o-linear-gradient(top,  var(--primary),var(--tertiary));
 background-image: linear-gradient(to bottom,  var(--primary),var(--tertiary));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=var(--primary), endColorstr=var(--tertiary));
-webkit-animation: Button-Gradient 3.23s ease infinite;
-moz-animation: Button-Gradient 3.23s ease infinite;
animation: Button-Gradient 3.23s ease infinite;

}

.gameplay input {
  padding: 0.75vh;
  background-color: var(--tertiary);
  border: 2px solid var(--primary);;
  border-radius: 5px;
}

.navbar { margin-bottom: 0 }



.App .fallout{
  font-family: 'Press start 2p', sans-serif;
  /* font-family: 'VT323', sans-serif; */
  text-align: center;
  letter-spacing: normal!important;
}

.deep-blue App {
  text-align: center;

}

.btn-group button {
    
    -webkit-box-shadow: #B4B5B5 2px 2px 2px  ;
   -moz-box-shadow: #B4B5B5 2px 2px 2px ;
     box-shadow: #B4B5B5 2px 2px 2px  ;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size:calc(0.9vw + 0.5vh + .5vmin);/*10vh;/*24px;*/
    cursor: pointer;
    width: 100%;
    display: block;
    
    padding: 1.0vh 1.25vw;/*20px 24px;*/
    text-decoration:none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  /*  color: rgb(236, 209, 228);*/
 opacity: 0.68;
 background-size: 200% 200%;
 border:4px solid var(--primary);
   background-color: var(--tertiary); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--tertiary)));
  background-image: -webkit-linear-gradient(top, var(--primary),var(--tertiary));
  background-image: -moz-linear-gradient(top, var(--primary),var(--tertiary));
  background-image: -ms-linear-gradient(top,  var(--primary),var(--tertiary));
  background-image: -o-linear-gradient(top,  var(--primary),var(--tertiary));
  background-image: linear-gradient(to bottom,  var(--primary),var(--tertiary));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=var(--primary), endColorstr=var(--tertiary));
 -webkit-animation: Button-Gradient 3.23s ease infinite;
 -moz-animation: Button-Gradient 3.23s ease infinite;
 animation: Button-Gradient 3.23s ease infinite;

}
.forty .game-score .col-md-6,.fortyfive .game-score .col-md-6,.fifty .game-score .col-md-6{
  width: 60%!important;
}
.score-board {
  /* margin-left: 0!important; */
}

.score-board h1,.score-board h2,.score-board h3,.score-board h4,.score-board h5,.score-board h6 {
  margin-top: 10px!important;
}

.score-board .col-md-6 {
  /*
  width: var(--progress-max-width)!important;/*--max-progress66vw!important;*/
  
  padding: 0!important;
  display: inline-block;
  /* display: flex;
  justify-content: center; */
}

.score-board .col-md-offset-3 {
  /* margin-left: 0!important; */
  /* margin: auto; */
}

.forty .score-board .col-md6,.fortyfive .score-board .col-md6,.fifty .score-board .col-md6 {
  width:var(--progress-max-width-fifty)
}
.thirtythree .score-board .col-md6 {
  width: 100%;
}
.thirtythree .score-board .col-md6 .progress {
width:var(--progress-max-width-thirtythree)
}

#submitButton {
  font-size:calc(1.7vw + 0.9vh + 0.6vmin)!important;
  margin-top: 5px!important;
  width: 50vw!important;
  height: 8vh!important;
}

.blood-dragon .menu-button button {
  border: 8px solid var(--primary);
  
 
}

.deep-blue .menu-button button {
  border:4px solid var(--primary);

}

.menu-button button:hover {
  filter:brightness(65%);
  opacity: 0.88;
}

.blood-dragon .menu-button button:hover {

}

.deep-blue .menu-button button:hover {

}

.menu-button button:active {

    filter:brightness(33%);
    opacity: 0.97;
    transform: translateY(3px);
}

.gobackbutton {
    /* float: left;*/
    position: fixed; 
    font-size:calc(0.6vw + 0.4vh + .4vmin)!important;
    bottom: 5vh !important;
    left: 0.8vw !important;
    max-width: calc(10*(0.6vw + 0.4vh + .4vmin))!important;

    white-space:nowrap;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size:calc(.79vw + .49vh + .75vmin);
    cursor: pointer;
    display: inline-block;
    padding: 0.5vh 0.69vw!important;
    text-decoration:none;
 opacity: 0.68;
 background-size: 200% 200%;
 -webkit-animation: Button-Gradient 0.75s ease infinite;
 -moz-animation: Button-Gradient 0.75s ease infinite;
 animation: Button-Gradient 0.75s ease infinite;
}

.homeicon {

  position: fixed; 
  bottom: 8vh !important;
  right: 5vw !important;
}


.game-answer-input .gobackbutton {
  padding: 5px;
}

.scoreview {
  /* float: left;*/
  position: fixed; 
  font-size:calc(0.6vw + 0.4vh + .4vmin)!important;
  margin-top: 5vh !important;
  margin-left: 0.8vw !important;
  max-width: calc(10*(0.6vw + 0.4vh + .4vmin)) !important;

  white-space:nowrap;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size:calc(.79vw + .49vh + .75vmin);
  cursor: pointer;
  display: inline-block;
  padding: 0.5vh 0.69vw!important;
  text-decoration:none;
opacity: 0.68;
background-size: 200% 200%;
-webkit-animation: Button-Gradient 0.75s ease infinite;
-moz-animation: Button-Gradient 0.75s ease infinite;
animation: Button-Gradient 0.75s ease infinite;
}

.wide {
    display:block;
    width:60%;
    margin:0 auto;
}



.blood-dragon h1 {
  font-family: 'Press start 2p', sans-serif;

  background: -webkit-linear-gradient(top, rgb(141, 61, 233), #C6CBF5 40%, black 40%, #E1A0CE 57%, white 77%, #663333 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.steel h1 {
  font-family: 'Metal Mania', sans-serif;
  background: -webkit-radial-gradient(
    
      rgb(128,128,128) 0vh, 
      rgb(96, 96, 96) 25vh, 
      rgb(100, 100, 100) 28vh, 
      rgb(3, 5, 45) 55vh, 
      #222233 65vh,
      #000000 85vh);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondary);
}

.normo h1, .normo h2, .normo h3, .cherry-blossom h1, .cherry-blossom h2, .cherry-blossom h3 {
  font-family: 'Lateef', sans-serif!important;
  color:var(--highlight)!important;
  
  -webkit-text-stroke-width: 0.15px!important;
  -webkit-text-stroke-color: var(--primary)!important;
}

.normo h4,.normo h5,.normo h6, .normo p, .cherry-blossom h4,.cherry-blossom h5,.cherry-blossom h6,.cherry-blossom p {
  font-family: 'Montserrat', sans-serif!important;;
  color:var(--highlight)!important;
  -webkit-background-clip: text!important;;
}



.deep-blue h1 {
  color: #C6CBF5;
  font-family: 'Oswald', sans-serif;
  margin-bottom:calc(1.25vw + 1.25vh + 0.65vmin);
  background: -webkit-linear-gradient(top, rgb(28, 29, 119), rgb(60, 78, 238) 40%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

}


.fallout h1 {
  color: #88FF88 !important;
}

.fallout h2 {
  color: #88FF88 !important;
  font-family: 'Press start 2p', sans-serif;
}
.fallout h3, .fallout h4, .fallout h5, .fallout h6 {
  font-family: 'Press start 2p', sans-serif;
}

.steel h3, .steel h4, .steel h5, .steel h6, .steel p {
  font-family: 'Russo One', sans-serif!important;
}

h3 {
  font-size:calc(1.25vw + 0.75vh + 0.8vmin);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  var(--highlight);
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: var(--primary);
}

h4 {
  font-size:calc(1.05vw + 0.65vh + 0.6vmin);
  -webkit-background-clip: text;
  -webkit-text-fill-color:  var(--highlight);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--primary);
}


h5 {
  font-size:calc(0.95vw + 0.45vh + 0.6vmin);
}
  
h6 {
  font-size:calc(0.85vw + 0.3vh + 0.5vmin);
}


h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--highlight) !important;
  margin-top: 10px!important;
  margin-bottom: 7px!important;
}



p {
  font-size:calc(1.25vw + 0.35vh + 0.35vmin);
  letter-spacing: normal!important;
}

.fallout p {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}

.fallout form {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}
.fallout .menu-button button {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}


.steel h2 {
  font-family: 'Metal Mania', sans-serif;
  background: -webkit-radial-gradient(
    
      rgb(128,128,128) 0vh, 
      rgb(96, 96, 96) 25vh, 
      rgb(100, 100, 100) 28vh, 
      rgb(3, 5, 45) 55vh, 
      #222233 65vh,
      #000000 85vh);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--secondary);
}
.blood-dragon h2 {
    font-family: 'Press start 2p', sans-serif;
    background: -webkit-linear-gradient(top, rgb(141, 61, 233), #C6CBF5 40%, black 40%, #E1A0CE 57%, white 77%, #CC5555 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.deep-blue h2 {
  font-family: 'Oswald', sans-serif;
  background: -webkit-linear-gradient(top, rgb(28, 29, 119), rgb(60, 78, 238) 40%,#fff 45,rgb(60, 78, 238) 50%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

div.blinder {
    position: fixed;
    width: 16vw;
    height: 12vh;
    margin-left: 42vw; 
    margin-top: 25vh;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff, 
        0 0 100px 60px  rgba(236, 0, 199, 0.75), 
        0 0 160px 90px rgba(173, 78, 165, 0.33) ,
        0 0 240px 120px transparent;
}

div.dual-layout {
  background-color: transparent;
  z-index:0;
  /* position: absolute; */
}


/* 
div.row {
  z-index:1;
  
} */

/* .row {
  display: flex;
}

.column {
  flex: 50%;
} */

.gameplay .game-score {
  width: 20vw;
  height: 90vh;
  /* display: flex; */
  flex-grow: 1; 
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 5px solid var(--primary);
}

.gameplay .game-mainview {
  width: 20vw;
  height: 90vh;
  /* display: flex; */
  flex-grow: 4;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: var(--game-border) solid var(--primary);
}

.gameplay .game-score-mobile {
  /* width: 85vw; */
  height: 20vh;
  flex-grow: 1; 
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 5px solid var(--primary);
  display: flex;
  align-items: stretch;
}

.gameplay .game-mainview-mobile {
  /* width: 85vw; */
  height: 65vh;
  flex-grow: 1;
  margin: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 5px solid var(--primary);
  display: flex;
  align-items: stretch;
}



.gameplay .game-info {
  width: 100vw;
  height: 20vh;
  flex-grow: 1;
  margin: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}

.gameplay .img {
  width: 80%;
}
.gameplay .game-answer-input {
  max-width: 95%!important;
  background: transparent!important;
  display: inline-block;
  align-items: center;
}
.gameplay .game-text-input {
  border: 5px!important;
  padding: 5px!important;
  max-width: 100%!important;
  min-width: 200px!important;
  background: var(--tertiary)!important;
  max-height: 12vh!important;
}

.gameplay .col-md-6 {
  /* width: 80%; */
  }
  .gameplay .col-md-offset-3 {
  margin-left: 10%;
  }

/* .answer-input {
  background-color: transparent;
} */

div.scoreflash {
  position: absolute;
  width: 30vw;
  height: 20vh;
  z-index: 1000;
  margin-left: 38vw; 
  margin-top: 25vh;
  border-radius: 40%;
  border: 5px solid var(--highlight);
  
  box-shadow:
      0 0 60px 30px var(--primary), 
      0 0 100px 60px var(--secondary), 
      0 0 160px 90px var(--tertiary) ,
      0 0 240px 120px transparent;
      background-color: var(--tertiary); 
      background-size: 200% 200%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(var(--secondary)), to(var(--tertiary)));
      background-image: -webkit-linear-gradient(top, var(--secondary),var(--tertiary));
      background-image: -moz-linear-gradient(top, var(--secondary),var(--tertiary));
      background-image: -ms-linear-gradient(top,  var(--secondary),var(--tertiary));
      background-image: -o-linear-gradient(top,  var(--secondary),var(--tertiary));
      background-image: linear-gradient(to bottom,  var(--secondary),var(--tertiary));
      filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=var(--secondary), endColorstr=var(--tertiary));
     -webkit-animation: Button-Gradient 0.44s ease infinite;
     -moz-animation: Button-Gradient 0.44s ease infinite;
     animation: Button-Gradient 0.44s ease infinite;
}
.scoreflash h2 {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px;
  -webkit-text-stroke-width: 0.66px;
  -webkit-text-stroke-color: var(--tertiary);
}

div.transbox {
    margin:calc(1.1vw + 1.1vh + 0.55vmin);
    opacity: 0.9;
    border-radius: 15px;
    filter: alpha(opacity=80); 
    max-height: 100%;
    overflow: hidden;
    border: 5px solid var(--primary);
  
}
.gameplay .transbox {
  display: flex;
  align-items: stretch;
  /* display: inline-block;
  align-items: center; */
}

.steel .transbox {
  background-color:#113344;
  border: 1px solid var(--tertiary);
}

.blood-dragon .transbox {
  background-color: #33192f;
  border: 1px solid #E1A0CE;
}
.deep-blue .transbox {
  background-color: #1b1933;
  border: 1px solid rgb(60, 78, 238)
}


div.transbox p {
    margin: 1%;
    /* font-weight: bold; */
    color: var(--highlight) !important;
  }

form {
    /* color: var(--tertiary); */
    display: inline-block;
    letter-spacing: normal!important;
}


.blood-dragon .form {
  text-shadow: 3px 3px 0px rgba(173, 78, 165, 0.5);
}

.deep-blue .form {
  text-shadow: 3px 3px 0px rgba(0, 0, 165, 0.5);
}

.form-header {
    color:  var(--highlight);
    font-size:calc(1.4vw + 0.8vh + 0.6vmin);
    /* margin-bottom:calc(1.1vw + 1.1vh + 0.5vmin); */
    
}

.deep-blue .form-header {
  color:  var(--highlight);

}



.settingspage {
    font-size:calc(0.7vw + 0.5vh + 0.5vmin);
    margin-top:calc(1.3vw + 1.3vh + 0.7vmin);
    /*font-size: 20px;
    margin-top: 60px;*/
}


.menu-background {
  background: linear-gradient(
    180deg,
      #6A0275 10vh, 
      #040C4A 73vh,
      #000000 100vh);
  position: absolute;
  width:100%;
  height:100%;
  /*    overflow-x: scroll;
    overflow-y: scroll;
    overflow: scroll;*/
}

.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
}

.no-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: #000;
    /* linear-gradient(
      180deg,
       #6A0275 0vh, 
        #6A0275 10vh, 
        #040C4A 43vh,
        #000000 80vh);
     */
    background-size: 100% 100%;
    /* overflow-x: scroll;
    overflow-y: scroll;
    overflow: scroll; */

    /*overflow-x: hidden;
    overflow-y: hidden;
    overflow: hidden;*/
    /* font-size: 12px!important; */
}

.background-fallout {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: radial-gradient(
    180deg,
      rgb(19, 196, 1) 0vh, 
      rgb(5, 144, 0) 10vh, 
      rgb(3, 65, 0) 35vh, 
      #000000 80vh);
  
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
 

}

.background-steel {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: linear-gradient(
    125deg,
      rgb(128,128,128) 0vh, 
      rgb(96, 96, 96) 25vh, 
      rgb(100, 100, 100) 28vh, 
      rgb(3, 5, 45) 55vh, 
      #222233 65vh,
      #000000 85vh);
      
  
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

.background-normo {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  color: #100;
  background: linear-gradient(
    33deg,
      rgb(255,255,255) 0vh, 
      rgb(222, 222, 222) 4vh, 
      rgb(255,255,255) 8vh, 
      rgb(255,244,244) 25vh, 
      rgb(166, 166, 166) 27vh, 
      rgb(255,244,244) 29vh, 
      rgb(233,233, 233) 50vh, 
      rgb(222, 222, 222) 75vh, 
      rgb(199, 199, 199) 78vh, 
      rgb(222, 222, 222) 81vh, 
      rgb(211, 211, 211)  95vh,
      rgb(166, 166, 166) 97vh, 
      rgb(211, 211, 211)  99vh);
      
  
  /* background-size: 100% 100%; */
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  background-size: 200% 200%;

-webkit-animation: normoflow 25s ease infinite;
-z-animation: normoflow 25s ease infinite;
-o-animation: normoflow 25s ease infinite;
  animation: normoflow 25s ease infinite;
}


.background-cherry {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  color: #100;
  background: linear-gradient(
    -45deg,
    #ff69b4,
#ff78bb,
#ff87c3,
#ff96ca,
#ffa5d2,
#ffb4d9,
#ffc3e1,
#ffd2e8,
#ffe1f0,
#fff0f7,
#ffffff);
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  background-size: 400% 400%;

-webkit-animation: normoflow 25s ease infinite;
-z-animation: normoflow 25s ease infinite;
-o-animation: normoflow 25s ease infinite;
  animation: normoflow 25s ease infinite;
}

@-webkit-keyframes normoflow {
    0%{background-position:50% 82%}
    50%{background-position:100% 19%}
    100%{background-position:50% 82%}
}
@-moz-keyframes normoflow {
    0%{background-position:50% 82%}
    50%{background-position:100% 19%}
    100%{background-position:50% 82%}
}
@-o-keyframes normoflow {
    0%{background-position:50% 82%}
    50%{background-position:100% 19%}
    100%{background-position:50% 82%}
}
@keyframes normoflow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}




.background-deep-blue {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: linear-gradient(
    180deg,
      rgb(6, 13, 196) 0vh, 
      rgb(6, 13, 164) 10vh, 
      rgb(3, 5, 65) 35vh, 
      #000000 80vh);
  
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
 

}

.background-blood-dragon {
  
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: linear-gradient(
    180deg,
      /* #6A0275 10vh, 
      #040C4A 43vh,
      #CC66CC 44vh,
      #FFFFFF 45vh,
      #FF99FF 47vh,
      #040C4A 51vh,
      #000000 80vh);*/
      #6A0275 10vh,  
      #040C4A 39vh,
      #CC66CC 40vh,
      #FFFFFF 41vh,
      #FF99FF 43vh,
      #040C4A 48vh,
      #000000 80vh);
  
  background-size: 103% 103%;
  -webkit-animation: Gradient 2.23s ease infinite;
  -moz-animation: Gradient 2.23s ease infinite;
  animation: Gradient 2.23s ease infinite;
  /*overflow: auto;*/
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

/* 
CSS grid animation modified from:
https://codepen.io/George-Payne/pen/qOrxao
*/
.grid{
    /* top: -386px;
    bottom: -386px;
    left: -400px;
    right: -400px; */
    top: -50vh;
    bottom: -50vh;
    left: -25vw;
    right: -25vw;
    position: fixed;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);}
.menu .grid {
    animation: throughSpace-bottom 3s linear;
    animation-iteration-count: infinite;
    
  }

  .grid-flair{
    /*top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;
         */
    top: -55vh;
    bottom: -55vh;
    left: -27.5vw;
    right: -27.5vw;
    position: fixed;
    opacity: 0.47;

  
    background-image: 
    linear-gradient(91deg,transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(93deg,transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(87deg,transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(89deg, transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px);
    /* linear-gradient(1deg, transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(-1deg, transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px);  */

    background-size:4% 4%, 4% 4%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
  }
 .menu .grid-flair {
    animation: throughSpace-bottom 0.5s linear;
    animation-iteration-count: infinite;
  }

 
  .grid-sub{
    /*top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;*/
    top: -55vh;
    bottom: -55vh;
    left: -27.5vw;
    right: -27.5vw;
    position: fixed;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
  }

 .menu .grid-sub{
    animation: throughSpace-bottom 6s linear;
    animation-iteration-count: infinite;
    
  }


  /*
  A repeat of .grid but with faster grid scroll speed.
  */
  .grid-faster{
    top: -386px;
    bottom: -386px;
    left: -400px;
    right: -400px;
    position: fixed;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
  }

 .menu .grid-faster {
    animation: throughSpace-bottom 1.5s linear;
    animation-iteration-count: infinite;
  }

  /*
  A repeat of .grid but with super fast grid scroll speed.
  */
  .grid-fastest{
    top: -386px;
    bottom: -386px;
    left: -400px;
    right: -400px;
    position: fixed;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
  }
 .menu .grid-fastest{
    animation: throughSpace-bottom 0.5s linear;
    animation-iteration-count: infinite;
    
  }
 
  /*
  A repeat of .grid-sub but with faster grid scroll speed.
  */
  .grid-sub-faster{
    top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;
    position: fixed;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 3.0s linear;
    animation-iteration-count: infinite;
    
  }

  /*
  A repeat of .grid-sub but with super fast grid scroll speed.
  */
  .grid-sub-fastest{
    top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;
    position: fixed;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 1.0s linear;
    animation-iteration-count: infinite;
    
  }
 
 
 
  @keyframes throughSpace-bottom{
    0%{
      transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg) translateY(0%); /*persp: (calc(25.5vh + 25.5vw)) -> calc(12.5vh + 12.5vw) */
    }
    100%{
      transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg) translateY(5.8%); /*persp: (calc(25.5vh + 25.5vw)) -> calc(12.5vh + 12.5vw) */
    }
  }
  
  @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@keyframes Button-Gradient {
	0% {
		background-position: 0% 0%
    }
    50% {
		background-position: 0% 100%
	}
	100% {
		background-position: 0% 0%
	}
}

.login-clean form {
  max-width:320px;
  width:90%;
  margin:0 auto;
  padding:40px;
  border-radius:4px;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean form .form-control {
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:8px;
  height:42px;
  color:#505e6c;
}

.form-control {
  display:block;
  width:100%;
  padding:.375rem .75rem;
  font-size:1rem;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.thirtythree .height-restricted {
  margin-top: 3vh;
  height: 33vh;
}

.thirtythree .height-restricted img {
  max-height: 33vh;
  max-width: 90%;/* 79vw;*/
}


.forty .height-restricted {
  margin-top: 3vh;
  height: 40vh;/*var(--image-height-restriction);/*50vh;*/
}

.forty .height-restricted img {
  max-height: 40vh;/*var(--image-height-restriction);/*50vh;*/
  max-width: 90%;/* 79vw;*/
}

.fortyfive .height-restricted {
  margin-top: 3vh;
  height: 45vh;/*var(--image-height-restriction);/*50vh;*/
}

.fortyfive .height-restricted img {
  max-height: 45vh;/*var(--image-height-restriction);/*50vh;*/
  max-width: 90%;/* 79vw;*/
}

.fifty .height-restricted {
  margin-top: 3vh;
  height: 50vh;/*var(--image-height-restriction);/*50vh;*/
}

.fifty .height-restricted img {
  max-height: 50vh;/*var(--image-height-restriction);/*50vh;*/
  max-width: 90%;/* 79vw;*/
}


.multi-height-restricted {
  height: 15vh;
  width: 33vw;
  flex-grow: 1; 
  flex-wrap: wrap;

}

.multi-height-restricted img {
  height: 20vh;
  max-width: 33vw;
  /* width: 33vw; */
  flex-grow: 1; 
  flex-wrap: wrap;
}

.gamepix img {
  max-height: 500px;
  position: fixed;
}

.text-bg {
	background-color:rgba(0, 0, 0, 0.5);
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.grade-mark-good {
	color: green;
	font-size: 4rem;
	position: absolute;
  bottom: 8px;
  right: 16px;
}

.grade-mark-okay {
	color: orange;
	font-size: 4rem;
	position: absolute;
  bottom: 8px;
  right: 16px;
}

.grade-mark-bad {
	color: red;
	font-size: 4rem;
	position: absolute;
  bottom: 8px;
  right: 16px;
}

.progress-slim {
/* width: 100%!important; */
  height: 10px!important;
}

.progress-fat {
	margin-left: 3%;
	margin-right: 3%;
	height: 3rem;
}

.thirtythree {
  width:100%;
}

.thirtythree .progress{
  width: var(--progress-max-width-thirtythree)!important;
}
.forty .progress{
  width: var(--progress-max-width-forty)!important;
}
.forty .progress{
  width: var(--progress-max-width-fortyfive)!important;
}
.fifty .progress{
  width: var(--progress-max-width-fifty)!important;
}

.progress-bar-slim {
	font-size: 1.7rem;
	text-align: center;
  padding-top: 5px!important;
  height: 10px!important;
}

.progress-bar-fat {
	height: 3rem;
}

/* .steel img {
  -webkit-filter: sepia(0.8);
  filter: sepia(0.8);
} */

#error-message {
  display:inline-block;
  text-decoration:inherit;
  margin-right:.2em;
  text-align:center;
  font-variant:normal;
  text-transform:none;
  line-height:1em;
  margin-left:.2em;
}

.home-highscore-top {
  margin-top: 10px;
}
.home-highscore {
  display:flex;
  flex-wrap: nowrap;
  margin-left: 25%;
}
  .home-highscore>div {
  flex: 0 50%;
}

.home-flex-title {
  display:flex;
  flex-wrap: nowrap;
  margin-left: 30%;
  margin-right: 30%;
}
.home-flex-title>div {
  flex: 0 14%;
}


.home-highscore .score {
  width: 100%;
}


.home-highscore h4, .home-highscore h5, .home-highscore h6{
  margin-top: 2px!important;
  text-align: left;
}

.btn-group-horizontal {
	width: 100%;
}

.btn-group-horizontal .btn {
    font-size:calc(0.9vw + 0.5vh + .5vmin);/*10vh;/*24px;*/
    cursor: pointer;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.btn-theme {
	    -webkit-box-shadow: #B4B5B5 2px 2px 2px  ;
   -moz-box-shadow: #B4B5B5 2px 2px 2px ;
     box-shadow: #B4B5B5 2px 2px 2px  ;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 1.0vh 1.25vw;/*20px 24px;*/
    text-decoration:none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  /*  color: rgb(236, 209, 228);*/
 opacity: 0.68;
 background-size: 200% 200%;
 border:4px solid var(--primary);
   background-color: var(--tertiary); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--tertiary)));
  background-image: -webkit-linear-gradient(top, var(--primary),var(--tertiary));
  background-image: -moz-linear-gradient(top, var(--primary),var(--tertiary));
  background-image: -ms-linear-gradient(top,  var(--primary),var(--tertiary));
  background-image: -o-linear-gradient(top,  var(--primary),var(--tertiary));
  background-image: linear-gradient(to bottom,  var(--primary),var(--tertiary));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=var(--primary), endColorstr=var(--tertiary));
 -webkit-animation: Button-Gradient 3.23s ease infinite;
 -moz-animation: Button-Gradient 3.23s ease infinite;
 animation: Button-Gradient 3.23s ease infinite;
}
