#question-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 460px;
    width: auto;
}

#wr-message {
    height: 60px;
}

#progbar {
    color: black;
}

#proglabel {
    line-height: 200%;
    width: 100%;
    float: left;
    position: absolute;
}
