@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
@import 'https://fonts.googleapis.com/css?family=Changa+One';
@import 'https://fonts.googleapis.com/css?family=Metal+Mania';

 :root {
  --deep-blue-highlight: #00BBFF;
  --deep-blue-light: #113dBB;
  --deep-blue-medium: #002266;
  --deep-blue-dark: #001144;
 /* --primary: #777777;*/
} 
.btn-warning:focus {
  filter:brightness(70%);
  background: #999933;
  border:3px solid rgb(30, 30, 32);
}

.bodyparts .menu-button .btn-warning:active {
  filter:brightness(75%);
  background: #55FF33;
  border:2px solid #88FF88;
}

.button:focus
{
     color:var(--primary);
}

.page-title {
  display: block;
  width: 100%;
  text-align: center;
}

.gamelink{
  color:#fff!important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;

}

.menu-button{
  display: block;
  width: 100%;
  border:4px solid var(--primary);
  text-align: center;
  -webkit-box-shadow: #B4B5B5 2px 2px 2px  ;
  -moz-box-shadow: #B4B5B5 2px 2px 2px ;
    box-shadow: #B4B5B5 2px 2px 2px  ;
     -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
   margin-bottom: 15px;
   border-radius: 15px;
   font-size:calc(0.9vw + 0.9vh + .5vmin);/*10vh;/*24px;*/
   cursor: pointer;
   width: 100%;
   padding: 1.0vh 1.25vw;/*20px 24px;*/
   text-decoration:none;
   text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
 /*  color: rgb(236, 209, 228);*/
opacity: 0.68;
background-size: 200% 200%;
border:4px solid var(--primary);
  background-color: var(--tertiary); 
 background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--tertiary)));
 background-image: -webkit-linear-gradient(top, var(--primary),var(--tertiary));
 background-image: -moz-linear-gradient(top, var(--primary),var(--tertiary));
 background-image: -ms-linear-gradient(top,  var(--primary),var(--tertiary));
 background-image: -o-linear-gradient(top,  var(--primary),var(--tertiary));
 background-image: linear-gradient(to bottom,  var(--primary),var(--tertiary));
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=var(--primary), endColorstr=var(--tertiary));
-webkit-animation: Button-Gradient 3.23s ease infinite;
-moz-animation: Button-Gradient 3.23s ease infinite;
animation: Button-Gradient 3.23s ease infinite;

}

.navbar { margin-bottom: 0 }

.App {
    /*font-family: "Verdana";*/
    font-family: 'Changa One', cursive;
    text-align: center;
}
.deep-blue App {
  text-align: center;

}

 .btn-group button {
    
    -webkit-box-shadow: #B4B5B5 2px 2px 2px  ;
   -moz-box-shadow: #B4B5B5 2px 2px 2px ;
     box-shadow: #B4B5B5 2px 2px 2px  ;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size:calc(0.9vw + 0.9vh + .5vmin);/*10vh;/*24px;*/
    cursor: pointer;
    width: 100%;
    display: block; 
    padding: 1.0vh 1.25vw;/*20px 24px;*/
    text-decoration:none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  /*  color: rgb(236, 209, 228);*/
 opacity: 0.68;
 background-size: 200% 200%;
 border:4px solid var(--primary);
   background-color: var(--tertiary); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--tertiary)));
  background-image: -webkit-linear-gradient(top, var(--primary),var(--tertiary));
  background-image: -moz-linear-gradient(top, var(--primary),var(--tertiary));
  background-image: -ms-linear-gradient(top,  var(--primary),var(--tertiary));
  background-image: -o-linear-gradient(top,  var(--primary),var(--tertiary));
  background-image: linear-gradient(to bottom,  var(--primary),var(--tertiary));
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=var(--primary), endColorstr=var(--tertiary));
 -webkit-animation: Button-Gradient 3.23s ease infinite;
 -moz-animation: Button-Gradient 3.23s ease infinite;
 animation: Button-Gradient 3.23s ease infinite;

}
.blood-dragon .menu-button button {
  border: 8px solid var(--primary);
  
 
}

.deep-blue .menu-button button {
  border:4px solid var(--primary);

}

.menu-button button:hover {
  filter:brightness(65%);
  opacity: 0.88;
}

.blood-dragon .menu-button button:hover {

}

.deep-blue .menu-button button:hover {

}

.menu-button button:active {

    filter:brightness(33%);
    opacity: 0.97;
    transform: translateY(3px);
}

.gobackbutton {
    /* float: left;*/
    position: fixed; 
    font-size:calc(0.6vw + 0.6vh + .4vmin)!important;
    bottom: 5vh !important;
    left: 0.8vw !important;
    max-width: calc(10*(0.6vw + 0.6vh + .4vmin)) !important;

    white-space:nowrap;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size:calc(.79vw + .79vh + .75vmin);
    cursor: pointer;
    display: inline-block;
    padding: 0.5vh 0.69vw!important;
    text-decoration:none;
 opacity: 0.68;
 background-size: 200% 200%;
 -webkit-animation: Button-Gradient 0.75s ease infinite;
 -moz-animation: Button-Gradient 0.75s ease infinite;
 animation: Button-Gradient 0.75s ease infinite;
}


.wide {
    display:block;
    width:60%;
    margin:0 auto;
}

/*
Logo gradient modified from:
https://codepen.io/M4TERIAL/pen/gavvQL
*/
h1 {
    display: block;
    width: 100%;
    color: #C6CBF5;
    font-family: 'Press start 2p', sans-serif;
    font-size:calc(3vw + 3vh + 2.5vmin);
    font-weight: 1000;
    line-height: 1.2;
    left: 50vw;
    margin-bottom:calc(1.25vw + 1.25vh + 0.65vmin);
    text-align: center;
    text-transform: uppercase;
    top: calc(2vw + 2vh + 1vmin);
    z-index: 11;
 
}

.blood-dragon h1 {
  font-family: 'Press start 2p', sans-serif;

  background: -webkit-linear-gradient(top, rgb(141, 61, 233), #C6CBF5 40%, black 40%, #E1A0CE 57%, white 77%, #663333 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
.steel h1 {
  font-family: 'Metal Mania', sans-serif;
  background: -webkit-radial-gradient(
    
      rgb(128,128,128) 0vh, 
      rgb(96, 96, 96) 25vh, 
      rgb(100, 100, 100) 28vh, 
      rgb(3, 5, 45) 55vh, 
      #222233 65vh,
      #000000 85vh);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondary);
}




.deep-blue h1 {
  color: #C6CBF5;
  font-family: 'Changa One', sans-serif;
  margin-bottom:calc(1.25vw + 1.25vh + 0.65vmin);
  background: -webkit-linear-gradient(top, rgb(28, 29, 119), rgb(60, 78, 238) 40%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

}


h2 {
    color: #C6CBF5;
    font-size:calc(2vw + 2vh + 1vmin);
    font-weight: 700;
    line-height: 1.2;
    left: 50vw;
    margin: 0;
    margin-bottom:calc(1.25vw + 1.25vh + 0.65vmin);
    text-align: center;
    text-transform: uppercase;
    top: calc(2vw + 2vh + 1vmin);
    z-index: 11;
}
.fallout h1 {
  color: #88FF88;
}

.fallout h2 {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}
.fallout h3 {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}
.fallout p {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}

.fallout form {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}
.fallout .menu-button button {
  color: #88FF88;
  font-family: 'Press start 2p', sans-serif;
}


.steel h2 {
  font-family: 'Metal Mania', sans-serif;
  background: -webkit-radial-gradient(
    
      rgb(128,128,128) 0vh, 
      rgb(96, 96, 96) 25vh, 
      rgb(100, 100, 100) 28vh, 
      rgb(3, 5, 45) 55vh, 
      #222233 65vh,
      #000000 85vh);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--secondary);
}
.blood-dragon h2 {
    font-family: 'Press start 2p', sans-serif;
    background: -webkit-linear-gradient(top, rgb(141, 61, 233), #C6CBF5 40%, black 40%, #E1A0CE 57%, white 77%, #CC5555 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.deep-blue h2 {
  font-family: 'Changa One', sans-serif;
  background: -webkit-linear-gradient(top, rgb(28, 29, 119), rgb(60, 78, 238) 40%,#fff 45,rgb(60, 78, 238) 50%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

div.blinder {
    position: fixed;
    width: 16vw;
    height: 12vh;
    margin-left: 42vw; 
    margin-top: 25vh;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff, 
        0 0 100px 60px  rgba(236, 0, 199, 0.75), 
        0 0 160px 90px rgba(173, 78, 165, 0.33) ,
        0 0 240px 120px transparent;
}

div.transbox {
    margin:calc(1.1vw + 1.1vh + 0.55vmin);
    opacity: 0.9;
    border-radius: 15px;
    filter: alpha(opacity=60); 
    max-height: 100%;
    overflow: hidden;
  
}

.steel .transbox {
  background-color:#113344;
  border: 1px solid var(--tertiary);
}

.blood-dragon .transbox {
  background-color: #33192f;
  border: 1px solid #E1A0CE;
}
.deep-blue .transbox {
  background-color: #1b1933;
  border: 1px solid rgb(60, 78, 238)
}


div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

form {
    color: #C6CBF5;

}


.blood-dragon .form {
  text-shadow: 3px 3px 0px rgba(173, 78, 165, 0.5);
}

.deep-blue .form {
  text-shadow: 3px 3px 0px rgba(0, 0, 165, 0.5);
}

.form-header {
    color:  rgb(235, 137, 183);
    font-size:calc(1.4vw + 1.4vh + 0.7vmin);
    margin-bottom:calc(1.1vw + 1.1vh + 0.5vmin);
    
}

.deep-blue .form-header {
  color:  rgb(0,0, 183);

}
.deep-blue .form-header {
  color:  rgb(137, 137, 255);

}


.settingspage {
    font-size:calc(0.7vw + 0.7vh + 0.5vmin);
    margin-top:calc(1.3vw + 1.3vh + 0.7vmin);
    /*font-size: 20px;
    margin-top: 60px;*/
}


.menu-background {
  background: linear-gradient(
    180deg,
      #6A0275 10vh, 
      #040C4A 73vh,
      #000000 100vh);
  position: absolute;
  width:100%;
  height:100%;
}

body {
    width: 100wh;
    height: 100vh;
    color: #fff;
    background: #000;
    /* linear-gradient(
      180deg,
       #6A0275 0vh, 
        #6A0275 10vh, 
        #040C4A 43vh,
        #000000 80vh);
     */
    background-size: 100% 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow: scroll;
}

.background-fallout {
  width: 100wh;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: radial-gradient(
    180deg,
      rgb(19, 196, 1) 0vh, 
      rgb(5, 144, 0) 10vh, 
      rgb(3, 65, 0) 35vh, 
      #000000 80vh);
  
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
 

}

.background-steel {
  width: 100wh;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: linear-gradient(
    125deg,
      rgb(128,128,128) 0vh, 
      rgb(96, 96, 96) 25vh, 
      rgb(100, 100, 100) 28vh, 
      rgb(3, 5, 45) 55vh, 
      #222233 65vh,
      #000000 85vh);
      
  
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}


.background-deep-blue {
  width: 100wh;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: linear-gradient(
    180deg,
      rgb(6, 13, 196) 0vh, 
      rgb(6, 13, 164) 10vh, 
      rgb(3, 5, 65) 35vh, 
      #000000 80vh);
  
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
 

}

.background-blood-dragon {
  
  width: 100wh;
  min-height: 100vh;
  height: 100%;
  color: #fff;
  background: linear-gradient(
    180deg,
      /* #6A0275 10vh, 
      #040C4A 43vh,
      #CC66CC 44vh,
      #FFFFFF 45vh,
      #FF99FF 47vh,
      #040C4A 51vh,
      #000000 80vh);*/
      #6A0275 10vh,  
      #040C4A 39vh,
      #CC66CC 40vh,
      #FFFFFF 41vh,
      #FF99FF 43vh,
      #040C4A 48vh,
      #000000 80vh);
  
  background-size: 103% 103%;
  -webkit-animation: Gradient 2.23s ease infinite;
  -moz-animation: Gradient 2.23s ease infinite;
  animation: Gradient 2.23s ease infinite;
  /*overflow: auto;*/
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

/* 
CSS grid animation modified from:
https://codepen.io/George-Payne/pen/qOrxao
*/
.grid{
    /* top: -386px;
    bottom: -386px;
    left: -400px;
    right: -400px; */
    top: -50vh;
    bottom: -50vh;
    left: -25vw;
    right: -25vw;
    position: fixed;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 3s linear;
    animation-iteration-count: infinite;
    
  }

  .grid-flair{
    /*top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;
         */
    top: -55vh;
    bottom: -55vh;
    left: -27.5vw;
    right: -27.5vw;
    position: fixed;
    opacity: 0.47;

  
    background-image: 
    linear-gradient(91deg,transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(93deg,transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(87deg,transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(89deg, transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px);
    /* linear-gradient(1deg, transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px),
    linear-gradient(-1deg, transparent 0px, #FF99CC 1px, #FFFFFF 2px, #FF99CC 3px, transparent 4px);  */

    background-size:4% 4%, 4% 4%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 0.5s linear;
    animation-iteration-count: infinite;
    
  }

 
  .grid-sub{
    /*top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;*/
    top: -55vh;
    bottom: -55vh;
    left: -27.5vw;
    right: -27.5vw;
    position: fixed;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 6s linear;
    animation-iteration-count: infinite;
    
  }


  /*
  A repeat of .grid but with faster grid scroll speed.
  */
  .grid-faster{
    top: -386px;
    bottom: -386px;
    left: -400px;
    right: -400px;
    position: fixed;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 1.5s linear;
    animation-iteration-count: infinite;
    
  }

  /*
  A repeat of .grid but with super fast grid scroll speed.
  */
  .grid-fastest{
    top: -386px;
    bottom: -386px;
    left: -400px;
    right: -400px;
    position: fixed;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 0.5s linear;
    animation-iteration-count: infinite;
    
  }
 
  /*
  A repeat of .grid-sub but with faster grid scroll speed.
  */
  .grid-sub-faster{
    top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;
    position: fixed;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 3.0s linear;
    animation-iteration-count: infinite;
    
  }

  /*
  A repeat of .grid-sub but with super fast grid scroll speed.
  */
  .grid-sub-fastest{
    top: -440px;
    bottom: -440px;
    left: -450px;
    right: -450px;
    position: fixed;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg);
    animation: throughSpace-bottom 1.0s linear;
    animation-iteration-count: infinite;
    
  }
 
 
 
  @keyframes throughSpace-bottom{
    0%{
      transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg) translateY(0%); /*persp: (calc(25.5vh + 25.5vw)) -> calc(12.5vh + 12.5vw) */
    }
    100%{
      transform: perspective(calc(25.5vh + 25.5vw)) rotateX(80deg) translateY(5.8%); /*persp: (calc(25.5vh + 25.5vw)) -> calc(12.5vh + 12.5vw) */
    }
  }
  
  @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@keyframes Button-Gradient {
	0% {
		background-position: 0% 0%
    }
    50% {
		background-position: 0% 100%
	}
	100% {
		background-position: 0% 0%
	}
}

.login-clean form {
  max-width:320px;
  width:90%;
  margin:0 auto;
  padding:40px;
  border-radius:4px;
  color:#505e6c;
  box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean form .form-control {
  border:none;
  border-bottom:1px solid #dfe7f1;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:8px;
  height:42px;
}

.form-control {
  display:block;
  width:100%;
  padding:.375rem .75rem;
  font-size:1rem;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.height-restricted img {
  max-height: 50vh;
}
.gamepix img {
  max-height: 500px;
  position: fixed;
}