@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
@import 'https://fonts.googleapis.com/css?family=Changa+One';

.App {
    /*font-family: "Verdana";*/
    font-family: 'Changa One', cursive;
    text-align: center;
    
}

.btn-group button {
    background-color: rgb(241, 64, 203);
    
    color: rgb(236, 209, 228);
    padding: 20px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0 5px #999;
    font-size: 24px;
}

.btn-group button:hover {
    background-color: #b60d6a;
}

.btn-group button:active {
    background-color: #b60d6a;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.gobackbutton {
    float: left;
    position: fixed;
    top: 10% !important;
    left: 0.8% !important;
    background-color: rgb(5, 163, 255);
    color: white;
}

 

/*
Logo gradient modified from:
https://codepen.io/M4TERIAL/pen/gavvQL
*/
.h1 {
    color: #C6CBF5;
    font-family: 'Press start 2p', sans-serif;
    font-size: 120px;
    font-weight: 1000;
    line-height: 1.2;
    left: 50%;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    top: 80px;
    width: 852px;
    z-index: 11;
    background: -webkit-linear-gradient(top, rgb(141, 61, 233), #C6CBF5 40%, black 40%, #E1A0CE 57%, white 77%, #663333 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;

}

.h2 {
    color: #C6CBF5;
    font-family: 'Press start 2p', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    left: 50%;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    top: 80px;
    width: 852px;
    z-index: 11;
    background: -webkit-linear-gradient(top, rgb(141, 61, 233), #C6CBF5 40%, black 40%, #E1A0CE 57%, white 77%, #663333 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;

}

div.blinder {
    position: absolute;
    width: 16%;
    height: 12%;
    margin-left: 42%; 
    margin-top: 15%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff, 
        0 0 100px 60px  rgba(236, 0, 199, 0.75), 
        0 0 160px 90px rgba(173, 78, 165, 0.33) ,
        0 0 240px 120px transparent;
}

div.transbox {
    margin: 30px;
    background-color: #33192f;
    border: 1px solid #E1A0CE;
    opacity: 0.9;
    border-radius: 15px;
    filter: alpha(opacity=60); 
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }
form {
    color: #C6CBF5;
    text-shadow: 3px 3px 0px rgba(173, 78, 165, 0.5);
    /*ext-shadow: 4px 4px;*/
}
.form-header {
    color:  rgb(235, 137, 183);
    font-size: 40px;
    margin-bottom: 30px;
}



.settingspage {
    font-size: 20px;
    margin-top: 60px;
}

/*
ORIGINAL BODY
body {
    margin: 0;
    padding: 0;
    background: #000;
    background-image:
      linear-gradient(
        to bottom, 
        #6A0275 10%, 
        #040C4A 43%,
        #FF99FF 44%,
        #FFFFFF 45%,
        #FF99FF 46%,
        #040C4A 49%,
        #000000 80%
      );

   
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
*/

body {
    width: 100wh;
    height: 100vh;
    color: #fff;
    background: linear-gradient(
      180deg,
        #6A0275 10%, 
        #040C4A 43%,
        #CC66CC 44%,
        #FFFFFF 45%,
        #FF99FF 47%,
        #040C4A 51%,
        #000000 80%);
    
    background-size: 103% 103%;
    -webkit-animation: Gradient 2.23s ease infinite;
    -moz-animation: Gradient 2.23s ease infinite;
    animation: Gradient 2.23s ease infinite;
    overflow: hidden;
}

/* 
CSS grid animation modified from:
https://codepen.io/George-Payne/pen/qOrxao
*/
.grid{
    top: -400px;
    bottom: -400px;
    left: -400px;
    right: -400px;
    position: absolute;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(500px) rotateX(80deg);
    animation: throughSpace-bottom 3s linear;
    animation-iteration-count: infinite;
    
  }

  .grid-sub{
    top: -460px;
    bottom: -460px;
    left: -450px;
    right: -450px;
    position: absolute;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(500px) rotateX(80deg);
    animation: throughSpace-bottom 6s linear;
    animation-iteration-count: infinite;
    
  }


  /*
  A repeat of .grid but with faster grid scroll speed.
  */
  .grid-faster{
    top: -400px;
    bottom: -400px;
    left: -400px;
    right: -400px;
    position: absolute;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(500px) rotateX(80deg);
    animation: throughSpace-bottom 1.5s linear;
    animation-iteration-count: infinite;
    
  }

  /*
  A repeat of .grid but with super fast grid scroll speed.
  */
  .grid-fastest{
    top: -400px;
    bottom: -400px;
    left: -400px;
    right: -400px;
    position: absolute;
    opacity: 0.25;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:2% 2%, 2% 2%;
    background-position:0 0, 0 0;
    
    transform: perspective(500px) rotateX(80deg);
    animation: throughSpace-bottom 0.5s linear;
    animation-iteration-count: infinite;
    
  }
 
  /*
  A repeat of .grid-sub but with faster grid scroll speed.
  */
  .grid-sub-faster{
    top: -460px;
    bottom: -460px;
    left: -450px;
    right: -450px;
    position: absolute;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(500px) rotateX(80deg);
    animation: throughSpace-bottom 3.0s linear;
    animation-iteration-count: infinite;
    
  }

  /*
  A repeat of .grid-sub but with super fast grid scroll speed.
  */
  .grid-sub-fastest{
    top: -460px;
    bottom: -460px;
    left: -450px;
    right: -450px;
    position: absolute;
    opacity: 0.07;

  
    background-image: 
    linear-gradient(transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px),
    linear-gradient(90deg, transparent 0px, #FF0092 1px, #FF99FF 2px, #FF0092 3px, transparent 4px); 

    background-size:0.66% 0.66%, 0.66% 0.66%;
    background-position:0 0, 0 0;
    
    transform: perspective(500px) rotateX(80deg);
    animation: throughSpace-bottom 1.0s linear;
    animation-iteration-count: infinite;
    
  }
 
 
 
  @keyframes throughSpace-bottom{
    0%{
      transform: perspective(500px) rotateX(80deg) translateY(0%);
    }
    100%{
      transform: perspective(500px) rotateX(80deg) translateY(5.8%);
    }
  }



  @-webkit-keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 100%
    }
    4% {
		background-position: 0% 97%
	}
	8% {
		background-position: 0% 103%
    }
    15% {
		background-position: 0% 100%
	}
	25% {
		background-position: 0% 102%
    }
    44% {
		background-position: 0% 97%
	}
	57% {
		background-position: 0% 101%
	}
	88% {
		background-position: 0% 98%
	}
	100% {
		background-position: 0% 102%
	}
}

  