.App {
    font-family: "Verdana";
    text-align: center;
}

.btn-group button {
    background-color: rgb(5, 163, 255);
    color: #fff;
    padding: 20px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0 5px #999;
    font-size: 24px;
}

.btn-group button:hover {
    background-color: #292cff;
}

.btn-group button:active {
    background-color: #292cff;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
  }

  .gobackbutton {
    float: left;
    position: fixed;
    top: 10% !important;
    left: 0.8% !important;
    background-color: rgb(5, 163, 255);
    color: white;
  }

.h1 {
    text-align: center;
    color: rgb(38, 0, 255);
    font-size: 80px;
    margin-bottom: 40px;
}

.h2 {
    color: rgb(38, 0, 255);
    font-size: 50px;
    margin-bottom: 30px;
}

.settingspage {
    font-size: 20px;
    margin-top: 60px;
}

body {
    margin: 0;
    padding: 0;
}

#info-list {
    text-align: justify;
}